*
{
  box-sizing: border-box;
}
body
{
  padding:10px;
}
.table-wrapper
{
  overflow-y: scroll;
}
.left-table-wrapper
{
  width:235px;
  display: inline-block;
  vertical-align: top;
}
.right-table-wrapper
{
  width:725px;
  display: inline-block;
  overflow-x: scroll;
}
.custom-table
{
  border-collapse: collapse;
}
.custom-table td,.custom-table th,.custom-table tr,.custom-table tbody
{
  display: block;
  float: left;
  vertical-align: middle;
}
.custom-table thead
{
  display: block;
  width:100%;
  position: absolute;
  top:0px;
}
.main-table-cont
{
  position: relative;
}
.custom-table .header
{
  width: 100%;
}
.main-header
{
  background: #d0def7;
}
.sub-header
{
  background: #edf3fd;
  height: 25px;
}

.main-header th
{
  font-size: 14px;
  color: #3b68b5
}
.sub-header th
{
  color: #77a0e5;
  font-size:13px; 
}
.table-body
{
  display: block;
  width:100%;
}
.table-body tr
{
  border-bottom: 1px solid #efefef;
  background: white;
  clear: left;
}
.table-body td
{
  color:#444;
  font-size: 13px;
  padding:1px 10px;
  padding-top: 12px;
}

.campus,.marks
{
  border-left:1px solid #efefef;
}



/*border styles*/


.bl-1
{
  border-left:1px solid #efefef;
}
.br-1
{
  border-right:1px solid #efefef;
}

/*body {
    background-color: #bdc3c7;
}

.table-fixed {
    width: 100%;
    background-color: #f3f3f3;
}

.table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
tbody,
tr,
td,
th {
    display: block;
}
.table-fixed th,.table-fixed td
{
  width:6%;
}
.table-fixed tbody td {
    float: left;
}

.table-fixed thead tr th {

    float: left;
    background-color: #f39c12;
    border-color: #e67e22;
}*/